*,
html {
    padding: 0;
    margin: 0;
}

.div-welcome {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    font-size: large;
    height: 5vh;
}

.container-navbar {
    background-color: #333;
    height: 10vh;
}

.ul-navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    font-size: 30px;
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.li-navbar:hover {
    background-color: goldenrod;
    transition: .1s ease-in-out;
    transition-delay: .2s;
    border-radius: 10px;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.container-content {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.img-content {
    width: 30vh;
    height: 30vh;
    border-radius: 100px;
}

#biodata {
    background-color: silver;
}

.a-content {
    background-color: rgba(186, 158, 0, 0.788);
    text-decoration: none;
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;
}

p {
    background-color: silver;
    font-size-adjust: none;
}


.container-footer {
    background-color: silver;
    height: 10vh;
}

.h1-footer {
    font-style: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-contact {
    background-color: crimson;
}

.contact-content {
    font-size: 30px;
    padding: 10px;
    background-color: gold;
    border-radius: 50px;
    text-decoration: none;
    list-style: square
}

.toko-content {
    width: 80vh;
    height: 50vh;
    border-radius: 0px;
}

.about-content {
    background-color: gold;
    text-decoration: none;
    color: black;
}

.div-member {
    background-color: cyan;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
 
.ul-member {
    width: 100%;
    height: 10vh;
}

.div-input {

}

.div-judul {
    display: flex;
    justify-content: center;
}

.tr-judul {
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px 13px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-family: 'poppins' , sans-serif;
}